body {
    overflow: hidden;  
    width: 100%;
    height: 100%;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    background-image: linear-gradient(0deg, transparent, black 35%);
    z-index: 1;
}